* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid red;
}

.note-container {
  display: grid;
  grid-gap: 1rem;
  padding: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  background-color: rgb(167, 229, 62);
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-note {
  background-color: #67d7cc;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: #67d7cc;
}

.save-note {
  background-color: e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.save-note:hover {
  background-color: #27a723;
  color: #ffffff;
}
