* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.dark-mode {
  background-color: #212121;
}

.dark-mode h1 {
  color: white;
}

.dark-mode .search-container,
.dark-mode .search-container input {
  background-color: #bfa2da;
}

.dark-mode .header button {
  background-color: #ad71e6;
}

.dark-mode .header button:hover {
  background-color: white;
  color: black;
}

.dark-mode .note {
  background-color: #ad71e6;
}

.dark-mode .new-note,
.dark-mode textarea {
  background-color: #bfa2da;
}

.dark-mode ::placeholder {
  color: #3c3232;
}

.dark-mode .note button:hover {
  background-color: #3c3232;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 1.5em;
}

.search-container input {
  border: none;
  background-color: rgb(233, 233, 233);
  margin-left: 10px;
  width: 100%;
}

.search-container input:focus {
  outline: none;
}

.note-container {
  display: grid;
  grid-gap: 1rem;
  padding: 30px 0;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  background-color: rgb(167, 229, 62);
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-footer span {
  font-size: 0.9rem;
}

.new-note {
  background-color: #67d7cc;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background-color: #67d7cc;
}

.save-note {
  background-color: e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.save-note:hover {
  background-color: #27a723;
  color: #ffffff;
}

.delete-icon:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.3);
}
